In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy

In [8]:
ds_ratings = pd.read_csv("../ml-latest-small/ratings.csv")
ds_movies = pd.read_csv("../ml-latest-small/movies.csv")

In [5]:
def create_user_item_matrix(ratings) -> pd.DataFrame:
  mat = ratings.pivot(index="userId", columns="movieId", values="rating")
  # 유저가 평점을 매긴 영화는 '본 영화'로 간주하고 1로 지정합니다
  mat[~mat.isna()] = 1
  # 유저가 평점을 매기지 않은 영화는 NaN인데
  # '보지 않은 영화'로 간주하고 0으로 바꿔줍니다
  mat.fillna(0, inplace=True)
  return mat

user_item_matrix = create_user_item_matrix(ds_ratings)
user_item_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
def get_svd_prediction(user_item_matrix, k):
    # U, sigma, V 를 얻어옵니다.
    u, s, vh = scipy.sparse.linalg.svds(user_item_matrix.to_numpy(), k=k)
    # 이들을 다시 곱해서 원본 행렬을 복원해봅니다
    # sigma는 주대각선 성분만 반환되므로 np.diag 함수로 대각행렬로 바꿔줍니다
    preds = np.dot(np.dot(u, np.diag(s)), vh)

    # 결과를 DataFrma
    preds = pd.DataFrame(preds, columns=user_item_matrix.columns, index=user_item_matrix.index)
    preds = (preds - preds.min()) / (preds.max() - preds.min())
    return preds

predictions = get_svd_prediction(user_item_matrix, k=64)
predictions

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,0.428114,0.425604,0.348175,0.154023,0.243343,0.453558,0.219816,0.196430,0.190059,0.365286,...,0.116342,0.116342,0.116342,0.116342,0.116342,0.116342,0.116342,0.116342,0.116342,0.092452
2,0.265159,0.209954,0.215911,0.136243,0.255729,0.187805,0.250365,0.153909,0.174337,0.123947,...,0.222027,0.222027,0.222027,0.222027,0.222027,0.222027,0.222027,0.222027,0.222027,0.452406
3,0.228959,0.227407,0.233126,0.151581,0.254409,0.215054,0.248156,0.163065,0.171641,0.143253,...,0.200178,0.200178,0.200178,0.200178,0.200178,0.200178,0.200178,0.200178,0.200178,0.356912
4,0.410161,0.140274,0.153194,0.167781,0.308183,0.314373,0.374465,0.203160,0.126510,0.268821,...,0.209514,0.209514,0.209514,0.209514,0.209514,0.209514,0.209514,0.209514,0.209514,0.342163
5,0.407273,0.325954,0.205385,0.161983,0.298501,0.263657,0.275638,0.178712,0.158161,0.333431,...,0.201163,0.201163,0.201163,0.201163,0.201163,0.201163,0.201163,0.201163,0.201163,0.355053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.690775,0.217291,0.250497,0.143019,0.212394,0.141855,0.905293,0.147106,0.177363,0.105533,...,0.124452,0.124452,0.124452,0.124452,0.124452,0.124452,0.124452,0.124452,0.124452,0.191845
607,0.559043,0.408386,0.269015,0.131456,0.193766,0.344019,0.271290,0.146729,0.221170,0.349969,...,0.200401,0.200401,0.200401,0.200401,0.200401,0.200401,0.200401,0.200401,0.200401,0.283258
608,0.549373,0.980488,0.807716,0.204844,0.222560,0.213664,0.331879,0.182127,0.111172,0.592941,...,0.173623,0.173623,0.173623,0.173623,0.173623,0.173623,0.173623,0.173623,0.173623,0.751350
609,0.383871,0.296912,0.196343,0.127700,0.240714,0.213925,0.246829,0.138400,0.174708,0.328211,...,0.221609,0.221609,0.221609,0.221609,0.221609,0.221609,0.221609,0.221609,0.221609,0.346883
610,0.628879,0.198641,0.191429,0.151134,0.306776,0.769569,0.242494,0.179105,0.180100,0.161241,...,0.129333,0.129333,0.129333,0.129333,0.129333,0.129333,0.129333,0.129333,0.129333,0.405762

movieId
6145      0.657699
124851    0.619278
114265    0.619278
113829    0.619278
6055      0.618473
            ...
70703     0.011296
6722      0.011296
174727    0.011296
92674     0.011296
26622     0.011296
Name: 3, Length: 9724, dtype: float64

In [39]:
user_id = 609
user_movie_ids = ds_ratings[ds_ratings.userId == user_id].movieId
user_movies = ds_movies[ds_movies.movieId.isin(user_movie_ids)]
print(user_id, "유저가 본 영화 목록")
print(user_movies)

# 유저가 보지 않은 영화들을
user_predictions = predictions.loc[user_id].sort_values(ascending=False)
user_predictions = user_predictions[~user_predictions.index.isin(user_movie_ids)]
user_predictions = user_predictions.head(10)
user_recommendations = ds_movies[ds_movies.movieId.isin(user_predictions.index)]
print(user_recommendations)

609 유저가 본 영화 목록
     movieId                                              title  \
0          1                                   Toy Story (1995)
9         10                                   GoldenEye (1995)
97       110                                  Braveheart (1995)
101      116                       Anne Frank Remembered (1995)
114      137                             Man of the Year (1995)
123      150                                   Apollo 13 (1995)
134      161                                Crimson Tide (1995)
156      185                                    Net, The (1995)
176      208                                  Waterworld (1995)
197      231             Dumb & Dumber (Dumb and Dumber) (1994)
217      253  Interview with the Vampire: The Vampire Chroni...
249      288                        Natural Born Killers (1994)
253      292                                    Outbreak (1995)
257      296                                Pulp Fiction (1994)
277      318                   Shawshank Redemption, The (1994)
287      329                      Star Trek: Generations (1994)
297      339                     While You Were Sleeping (1995)
314      356                                Forrest Gump (1994)
378      434                                 Cliffhanger (1993)
395      454                                   Firm, The (1993)
398      457                               Fugitive, The (1993)
418      480                               Jurassic Park (1993)
507      589                  Terminator 2: Judgment Day (1991)
508      590                          Dances with Wolves (1990)
509      592                                      Batman (1989)
525      613                                   Jane Eyre (1996)
548      650                               Moll Flanders (1996)
591      731                          Heaven's Prisoners (1996)
597      742                                     Thinner (1996)
621      786                                      Eraser (1996)
642      828                Adventures of Pinocchio, The (1996)
646      833                            High School High (1996)
676      892                               Twelfth Night (1996)
807     1056                                        Jude (1996)
809     1059        William Shakespeare's Romeo + Juliet (1996)
869     1150  Return of Martin Guerre, The (Retour de Martin...
872     1161           Tin Drum, The (Blechtrommel, Die) (1979)

                                          genres
0    Adventure|Animation|Children|Comedy|Fantasy
9                      Action|Adventure|Thriller
97                              Action|Drama|War
101                                  Documentary
114                                  Documentary
123                         Adventure|Drama|IMAX
134                           Drama|Thriller|War
156                        Action|Crime|Thriller
176                      Action|Adventure|Sci-Fi
197                             Adventure|Comedy
217                                 Drama|Horror
249                        Action|Crime|Thriller
253                 Action|Drama|Sci-Fi|Thriller
257                  Comedy|Crime|Drama|Thriller
277                                  Crime|Drama
287                       Adventure|Drama|Sci-Fi
297                               Comedy|Romance
314                     Comedy|Drama|Romance|War
378                    Action|Adventure|Thriller
395                               Drama|Thriller
398                                     Thriller
418             Action|Adventure|Sci-Fi|Thriller
507                                Action|Sci-Fi
508                      Adventure|Drama|Western
509                        Action|Crime|Thriller
525                                Drama|Romance
548                                        Drama
591                               Crime|Thriller
597                              Horror|Thriller
621                        Action|Drama|Thriller
642                           Adventure|Children
646                                       Comedy
676                         Comedy|Drama|Romance
807                                        Drama
809                                Drama|Romance
869                                        Drama
872                                    Drama|War
      movieId                                       title  \
4224     6145                                Venom (1982)
6616    55854                        Fugitive, The (1947)
6628    56169                                Awake (2007)
6759    59738         All the Boys Love Mandy Lane (2006)
6806    60832                            Pathology (2008)
7265    74580                   Spy Next Door, The (2010)
7717    90384  Behind Enemy Lines II: Axis of Evil (2006)
8504   113829                      One I Love, The (2014)
8516   114265                              Laggies (2014)
8663   121129                   The Hungover Games (2014)

                       genres
4224          Horror|Thriller
6616                    Drama
6628           Drama|Thriller
6759  Horror|Mystery|Thriller
6806    Crime|Horror|Thriller
7265   Action|Children|Comedy
7717      Action|Thriller|War
8504     Comedy|Drama|Romance
8516           Comedy|Romance
8663                   Comedy

In [40]:
user_movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
9,10,GoldenEye (1995),Action|Adventure|Thriller
97,110,Braveheart (1995),Action|Drama|War
101,116,Anne Frank Remembered (1995),Documentary
114,137,Man of the Year (1995),Documentary
123,150,Apollo 13 (1995),Adventure|Drama|IMAX
134,161,Crimson Tide (1995),Drama|Thriller|War
156,185,"Net, The (1995)",Action|Crime|Thriller
176,208,Waterworld (1995),Action|Adventure|Sci-Fi
197,231,Dumb & Dumber (Dumb and Dumber) (1994),Adventure|Comedy
217,253,Interview with the Vampire: The Vampire Chroni...,Drama|Horror
249,288,Natural Born Killers (1994),Action|Crime|Thriller
253,292,Outbreak (1995),Action|Drama|Sci-Fi|Thriller
257,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
277,318,"Shawshank Redemption, The (1994)",Crime|Drama
287,329,Star Trek: Generations (1994),Adventure|Drama|Sci-Fi
297,339,While You Were Sleeping (1995),Comedy|Romance
314,356,Forrest Gump (1994),Comedy|Drama|Romance|War
378,434,Cliffhanger (1993),Action|Adventure|Thriller
395,454,"Firm, The (1993)",Drama|Thriller
398,457,"Fugitive, The (1993)",Thriller
418,480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller
507,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi
508,590,Dances with Wolves (1990),Adventure|Drama|Western
509,592,Batman (1989),Action|Crime|Thriller
525,613,Jane Eyre (1996),Drama|Romance
548,650,Moll Flanders (1996),Drama
591,731,Heaven's Prisoners (1996),Crime|Thriller
597,742,Thinner (1996),Horror|Thriller
621,786,Eraser (1996),Action|Drama|Thriller
642,828,"Adventures of Pinocchio, The (1996)",Adventure|Children
646,833,High School High (1996),Comedy
676,892,Twelfth Night (1996),Comedy|Drama|Romance
807,1056,Jude (1996),Drama
809,1059,William Shakespeare's Romeo + Juliet (1996),Drama|Romance
869,1150,"Return of Martin Guerre, The (Retour de Martin...",Drama
872,1161,"Tin Drum, The (Blechtrommel, Die) (1979)",Drama|War

In [41]:
user_recommendations

,movieId,title,genres
4224,6145,Venom (1982),Horror|Thriller
6616,55854,"Fugitive, The (1947)",Drama
6628,56169,Awake (2007),Drama|Thriller
6759,59738,All the Boys Love Mandy Lane (2006),Horror|Mystery|Thriller
6806,60832,Pathology (2008),Crime|Horror|Thriller
7265,74580,"Spy Next Door, The (2010)",Action|Children|Comedy
7717,90384,Behind Enemy Lines II: Axis of Evil (2006),Action|Thriller|War
8504,113829,"One I Love, The (2014)",Comedy|Drama|Romance
8516,114265,Laggies (2014),Comedy|Romance
8663,121129,The Hungover Games (2014),Comedy